In [7]:
import pandas as pd

df = pd.read_csv("./fruit_data_with_colors.csv", sep='\t')

df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [8]:
df.columns

Index(['fruit_label', 'fruit_name', 'fruit_subtype', 'mass', 'width', 'height',
       'color_score'],
      dtype='object')

In [11]:
df['fruit_name'].unique()

array(['apple', 'mandarin', 'orange', 'lemon'], dtype=object)

In [44]:
apple = df[df['fruit_name'] == 'apple']
mandarin = df[df['fruit_name'] == 'mandarin']
orange = df[df['fruit_name'] == 'orange']
lemon = df[df['fruit_name'] == 'lemon']

X=df[['mass', 'width', 'height']]
y=df['fruit_label']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

knn.score(X_test, y_test)

1.0

In [47]:
prediction1=knn.predict([['100','6.3','8']])

print(prediction1[0])

1

In [50]:
df[df['fruit_label'] == 2]

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79
5            2   mandarin      mandarin    80    5.8     4.3         0.77
6            2   mandarin      mandarin    80    5.9     4.3         0.81
7            2   mandarin      mandarin    76    5.8     4.0         0.81

In [53]:
prediction1=knn.predict([['86','6.2','4.7']])
print(prediction1[0])

1